<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58457879723-e8759u0kpst275rq3fovtii56tet39rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58457879723-e8759u0kpst275rq3fovtii56tet39rd</string>
	<key>API_KEY</key>
	<string>AIzaSyBCgdn1dF9d1cNKYGxahkKE1Ak9xE4f53g</string>
	<key>GCM_SENDER_ID</key>
	<string>58457879723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leonardo.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-9e519</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-9e519.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58457879723:ios:7456fcc31566e670f333ee</string>
</dict>
</plist>